google-genai
python-dotenv
requests
youtube-transcript-api
fastapi
uvicorn[standard]
python-multipart
yt-dlp[default]
google-api-python-client
google-auth-oauthlib
cryptography
faster-whisper
opencv-python
ultralytics<8.4

# NEW
openai-whisper
ffmpeg-python
moviepy
pydub